/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* UNIVERSAL DESIGN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e5e5e5;
}

/* ------------------
 HEADER AREA DESIGN 
 --------------------*/
header {
  display: flex;
  justify-content: center;
  background: #562eff;
  height: 60px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 870px;
  color: #fff;
}
.logo-side,
.menu-side {
  display: flex;
  gap: 15px;
  align-items: center;
}
.logo-side .text a {
  text-decoration: none;
  color: #fff;
}
.menu nav ul {
  display: flex;
  gap: 10px;
}
.menu nav ul li {
  list-style: none;
}
.menu nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.menu-side .img img {
  height: 45px;
  width: 45px;
}

.header-container .logo-side .logo img {
  width: 33px;
  height: 40px;
}

/* TOP PLAYERS STYLE */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player-blog {
  width: 870px;
  background: #fff;
  margin: 25px 0 15px 0;
  padding: 25px;
  border-radius: 8px;
}
.top-player {
  padding-bottom: 15px;
}
.title h3 {
  font-weight: 500;
  color: rgb(86, 46, 255);
  padding-bottom: 20px;
}
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 100px;
  justify-items: start;
}
.player {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.player h3 {
  color: #00000;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.player img {
  width: 56px;
  height: 56px;
}

/* TOP BLOG STYLE */
.top-blog {
  margin-top: 15px;
}
.blog-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 30px;
  grid-row-gap: 25px;
}
.blog {
  display: flex;
  gap: 15px;
}
.blog .blog-image img {
  width: 177px;
  height: 117px;
}
.blog .blog-content h3 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
.blog .blog-content p {
  color: #562eff;
  font-size: 15px;
}
.blog .blog-content p span {
  color: #9f9f9f;
}
/* COURSE SECTION STYLE */
.letest-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  padding: 25px;
  width: 870px;
  border-radius: 8px;
  margin-bottom: 25px;
}
.course .thumbnail-pic img{
  width: 224px;
  height: 104px;
}

/*----------------------
 RESPONSIVE WEB DESIGN PART
 ---------------------- */

@media only screen and (max-width: 576px) {
  .header-container {
    margin: 0 25px;
  }
  .logo-side,
  .menu-side {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .menu nav ul {
    display: flex;
    gap: 7px;
  }
  .menu-side .img img {
    height: 40px;
    width: 40px;
  }

  .header-container .logo-side .logo img {
    width: 30px;
    height: 35px;
  }
  .menu nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
  }
  /* player */

  .top-player {
    padding-bottom: 15px;
    display: grid;
    justify-items: center;
  }
  .title h3 {
    padding: 5px;
    margin-bottom: 21px;
    background: #562eff;
    border-radius: 8px;
    color: #fff;
  }
  .players-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  .blog .blog-image img {
    width: 100%;
    height: 215px;
  }

  .blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 25px;
  }
  .top-blog{
    margin-top: 15px;
    display: grid;
    justify-items: center;
  }
  .blog {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
